{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "require-await": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "import/no-anonymous-default-export": "error",
    "import/dynamic-import-chunkname": "error",
    "import/order": ["error", { "newlines-between": "always", "alphabetize": { "order": "asc" } }],
    "import/no-duplicates": "error",
    "prettier/prettier": "error",
    "no-const-assign": "error",
    "no-param-reassign": "error",
    "prefer-const": "error",
    "no-var": "error",
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "single"],
    "eol-last": ["error", "always"],
    "no-trailing-spaces": "error",
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "String": {
            "message": "Use 'string' instead",
            "fixWith": "string"
          },
          "Boolean": {
            "message": "Use 'boolean' instead",
            "fixWith": "boolean"
          },
          "Number": {
            "message": "Use 'number' instead",
            "fixWith": "number"
          },
          "Object": {
            "message": "Use 'object' instead, or else define a proper TypeScript type:"
          },
          "Symbol": {
            "message": "Use 'symbol' instead",
            "fixWith": "symbol"
          }
        }
      }
    ],
    "@typescript-eslint/member-ordering": [
      "error",
      {
        "default": "never",
        "classes": ["field", "constructor", "method"]
      }
    ],
    "@typescript-eslint/no-array-constructor": "error",
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/no-for-in-array": "error",
    "@typescript-eslint/no-misused-new": "error",
    "@typescript-eslint/no-namespace": [
      "error",
      {
        "allowDeclarations": false,
        "allowDefinitionFiles": false
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "@typescript-eslint/no-use-before-define": "error",
    "import/no-unresolved": "off",
    "@typescript-eslint/no-var-requires": "error",
    "@typescript-eslint/prefer-namespace-keyword": "error",
    "accessor-pairs": "error",
    "dot-notation": [
      "error",
      {
        "allowPattern": "^_"
      }
    ],
    "eqeqeq": "error",
    "for-direction": "error",
    "guard-for-in": "error",
    "max-lines": ["error", { "max": 2000 }],
    "no-async-promise-executor": "error",
    "no-bitwise": [
      "error",
      {
        "allow": [
          "^",
          // "|",
          // "&",
          "<<",
          ">>",
          ">>>",
          "^=",
          // "|=",
          //"&=",
          "<<=",
          ">>=",
          ">>>=",
          "~"
        ]
      }
    ],
    "no-caller": "error",
    "no-compare-neg-zero": "error",
    "no-cond-assign": "error",
    "no-constant-condition": "error",
    "no-control-regex": "error",
    "no-debugger": "error",
    "no-delete-var": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-empty-character-class": "error",
    "no-empty-pattern": "error",
    "no-eval": "error",
    "no-ex-assign": "error",
    "no-extend-native": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-label": "error",
    "no-fallthrough": "error",
    "no-func-assign": "error",
    "no-implied-eval": "error",
    "no-invalid-regexp": "error",
    "no-label-var": "error",
    "no-lone-blocks": "error",
    "no-misleading-character-class": "error",
    "no-multi-str": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-regex-spaces": "error",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow-restricted-names": "error",
    "no-sparse-arrays": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-unsafe-finally": "error",
    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": "error",
    "no-unused-labels": "error",
    "no-useless-catch": "error",
    "no-useless-concat": "error",
    "no-void": "error",
    "no-with": "error",
    "require-atomic-updates": "error",
    "require-yield": "error",
    "strict": ["error", "never"],
    "use-isnan": "error",
    "semi": ["error", "always"]
  }
}
